<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
    <body>
        <form th:action="@{/book/add}" th:object="${book}" method="post">
            Name: <input type="text" th:field="*{name}"/>
            <br>
            Year: <input type="number" th:field="*{year}"/>
            <br>
            Short description: <input type="text" th:field="*{shrtDsc}"/>
            <br>
            <button name="addBook" type="submit">Add book</button>
        </form>
    </body>
</html>