<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
    <body>
        <h1>Books</h1>

        <table>
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Year</td>
                    <td>Short description</td>
                </tr>
            </thead>
            <tr th:each="book : ${books} ">
                <td th:text="${book.id}"/>
                <td th:text="${book.name}"/>
                <td th:text="${book.year}"/>
                <td th:text="${book.shrtDsc}"/>
            </tr>
        </table>
    </body>
</html>