<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Course</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/main.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/main.css}"/>
</head>
<html>
    <body>
        <div th:replace="~{navigation :: navi(Empty)}" />
        <form th:action="@{/courses/add}" th:object="${course}" method="post">
            Title: <input type="text" th:field="*{title}"/>
            <br>
            <div class="submit">
                <button name="addCourse" type="submit">Add course</button>
            </div>
        </form>
    </body>
</html>