<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="lesson1"/>

<!--    <bean id="therapist" class="lesson1.Therapist">-->
<!--        <property name="name" value="Терапевт"/>-->
<!--    </bean>-->

<!--    <bean id="neurologist" class="lesson1.Neurologist">-->
<!--        <property name="name" value="Невролог"/>-->
<!--    </bean>-->

<!--    <bean id="patient" class="lesson1.Patient">-->
<!--        <property name="idoctor" ref="neurologist"/>-->
<!--    </bean>-->

</beans>